<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <system.webServer>
        <!--Restart the server in case we get 10 500 errors within 30 seconds-->
        <monitoring xdt:Transform="InsertIfMissing">
            <triggers xdt:Transform="InsertIfMissing">
                <!-- Scenario #1 : Logging an event (or recycling) based on HTTP status code(s) -->
                <statusCode xdt:Transform="InsertIfMissing">
                    <add count="10" statusCode="500" subStatusCode="100" timeInterval="00:00:30" win32StatusCode="0" xdt:Transform="InsertIfMissing"/>
                </statusCode>
            </triggers>
            <!-- Scenario #1 Action -->
            <actions value="Recycle" xdt:Transform="InsertIfMissing"/>
        </monitoring>
    </system.webServer>
</configuration>
